vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Jun 2009 19:16:55 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|24 Jun 2009 19:16:55 -0000
vti_filesize:IR|3158
vti_cachedlinkinfo:VX|Q|typography.css S|../../media/images/bg/global-bg.gif S|../../media/images/bg/col-bg.gif S|../../media/images/bg/footer-bg.gif S|../../media/images/bg/global-home-bg.gif S|../../media/images/bg/feature-bg.jpg
vti_cachedsvcrellinks:VX|FQUS|clients/titojackson/scripts/css/typography.css FSUS|clients/titojackson/media/images/bg/global-bg.gif FSUS|clients/titojackson/media/images/bg/col-bg.gif FSUS|clients/titojackson/media/images/bg/footer-bg.gif FSUS|clients/titojackson/media/images/bg/global-home-bg.gif FSUS|clients/titojackson/media/images/bg/feature-bg.jpg
vti_backlinkinfo:VX|
